.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    margin-bottom: 30px;
}

a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}